name: couldai_user_app
description: "AF Streaming - Website Streaming Drama"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.0
  google_fonts: ^6.1.0
  cached_network_image: ^3.3.1
  video_player: ^2.8.2
  chewie: ^1.7.5
  shimmer: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
